<h1>トレーニング詳細</h1>

    <tr>
	  	<th>タイトル</th>
	  	<td><%= @training.training_name %></td>
    </tr>

    <tr>
    	<td><iframe width="800" height="450" src="https://www.youtube.com/embed/<%= @training.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>

    	<th>説明</th>
    	<td><%= @training.description %></td>

    	<th>おすすめ回数</th>
    	<td><%= @training.number_time %>回</td>
    </tr>
