<div class="container">
	<h1>トーク一覧</h1>
	<div class="row">
		<div class="col-xs-12">
			    <% if @anotherEntries.exists? %>
				    <ul class="chat_list">
				    	<% @anotherEntries.each do |entry| %>
				    	<li>
				    		<div class="chat-container">
								<%= attachment_image_tag entry.user,
								:profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %>
								<%= entry.user.name %>さん
							    <%= link_to user_room_path(entry.room_id),class: "btn btn-primary btn-lg active" do %>トークする<i class="far fa-envelope"></i><% end %>
							</div>
						</li>
						<% end %>
					</ul>
				<% else %>
					<p class="no_talk">トークはありません</p>
				<% end %>
		</div>
	</div>
</div>