<section>
	<div id="top"></div>
		 <div id="main-image">
		    <div class="image1"></div>
		    <h1 class="main_title">Make Exercise<br> a <br>Habit </h1>
		  </div>
</section>

<section class="top_content">
	<h2 class="top_title2">全ての運動不足の人達へ</h2>
	<p class="top_content_text">テクノロジーが発達し何かと便利になった現代社会で、<br>私達が運動する機会は減少しています。<br>運動不足になると生活習慣病の原因になったり、ストレスが溜まりやすくなるなど<br>メンタル面にも悪影響を及ぼします。<br>一人でも多くの人が運動を習慣にし、健康な毎日を遅れるようにこのサービスを作りました。</p>
</section>

<section id="main_image2">
	<div class="image2"></div>
	<div class="top_btn"><%= link_to "ログインする",new_user_session_path,class: "btn btn-primary btn-lg active" %>
	</div>
	<div class="top_btn2"><p>アカウントをお持ちでない方は</p><%= link_to "新規登録", new_user_registration_path,class: "btn btn-primary btn-lg active" %>
	</div>
	<div class="admin_icon">
		<%= link_to new_admin_session_path do  %><i class="fas fa-user-shield"></i><% end %>
	</div>
</section>