<div class="container">
  <h1>トレーニング一覧</h1>
  <div class="row">
    <div class="col-md-3 col-xs-12 genre_search">
      <h2>ジャンル検索</h2>
      <% @genres.each do |genre| %>
          <table class="table table-hover">
            <tr>
              <td><%= link_to genre.genre_name,user_trainings_path(genre_id: genre.id) %></td>
            </tr>
          </table>
      <% end %>
    </div>

    <div class="col-md-9 col-xs-12 youtube_movies">
      <% @trainings.each do |training| %>
        <table class="training_movies">
        	<tr>
      	  	<td><h3><%= training.training_name %></h3></td>
          </tr>
          <tr>
          	<td><iframe width="280" height="180" src="https://www.youtube.com/embed/<%= training.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
          </tr>

          <tr>
          	<td><%= link_to "詳細へ" ,user_training_path(training.id),class:"btn btn-info" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
