<h1>トレーニング一覧</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>ジャンル検索</h2>
      <% @genres.each do |genre| %>
          <table>
            <tr>
              <td><%= link_to genre.genre_name,user_trainings_path(genre_id: genre.id) %></td>
            </tr>
          </table>
      <% end %>
    </div>

    <div class="col-xs-9">
      <% @trainings.each do |training| %>
        <table>
        	<tr>
      	  	<td><h3><%= training.training_name %></h3></td>
          </tr>
          <tr>
          	<td><iframe width="300" height="200" src="https://www.youtube.com/embed/<%= training.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
          </tr>

          <tr>
          	<td><%= link_to "詳細へ" ,user_training_path(training.id) %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
