/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require fullcalendar
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:18px;
    color:#555555;
}

h1{
  text-align:center;
}

h1:after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #ec715f;
    margin: 8px auto 30px auto;
    text-align:center;
}



//-----------------------ヘッダー---------------------//

header{
	position:relative;
	width:100%;
	height:80px;
	background-color:#444444;
  position:fixed;
  z-index: 100;
}

header a{
	color:#fff;
}


.header_logo{
    text-align:center;
    line-height:80px;
}

.header_logo a{
  font-size:30px;
  display:inline-block;
  font-weight:bold;
  text-align:center;
}

#hm-icon{
	position:fixed;
	right:20px;
	top:20px;
	z-index:100;
}

.fa-bars:before{
  color:#fff;
  font-size:40px;
}

.menu-trigger{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background:rgba(0,0,0,0.75);
  color: #fff;
  width: 400px;
  min-height: 100%;
  display: none;
  z-index: 90
}

#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
  list-style:none;
}

#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

//------------------トップ画面----------------------//
#top{
  width:100%;
  height:80px;
}

.image1 {
background-image: url(portfolio_top1.jpeg);
width:100%;
height:700px;
background-size:cover;
position:relative;
padding-top:80px;
}

.main_title{
  position:absolute;
  top:70px;
  right:30px;
  font-size:100px;
  font-weight:bold;
  text-align:center;
  text-shadow: 1px #fff;
}
//-------------------アバウト------------------------//

#about_image{
  background-image:url(about_image1.webp);
  background-attachment: fixed;
  width:100%;
  height:700px;
  background-size:cover;
  position:relative;
  padding-top:80px;
}

.about_title{
  position:absolute;
  top:100px;
  left:200px;
  font-size:70px;
}

//-------------------メイン------------------------//

main{
  background-image:url(portfolio_top3.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

main a{
  color:#555555;
}

.container{
  background-color:#dfe3e4;
  padding-top:80px;
}

.col-xs-12{
  padding-left:0;
  padding-right:0;
}

.col-md-6{
  padding: 0 20px;
}

.profile_image{
	border-radius:50%;
}


.mypage_btn{
	list-style:none;
	margin: 10px 0 10px
}

.mypage_btn li{
	padding-top:10px;
}

.table_post{
  border-bottom: solid 1px #fff;
}

.session_new{
  text-align:center;
}

.registration_new{
  text-align:center;
}

.new_post{
  display:inline-block;
}

footer{
    height:50px;
    color:#fff;
	background-color:#444444;
}

  .icon_container{
    display:none;
  }

  .chat-container .fallback{
    width:50px;
    height:50px;
  }


@media screen and (max-width:425px) {

  .image1 {
    background-image: url(portfolio_top4.jpeg);
    width:100%;
    height:700px;
    background-size:cover;
    position:relative;
    padding-top:80px;
  }

  .main_title{
  position:absolute;
  top:70px;
  right:30px;
  font-size:50px;
  font-weight:bold;
  text-align:center;
  text-shadow: 1px #fff;
}

  .container{
    width:100%;
  }

  .row{
    width:100%;
  }

  #post_impression{
    width:80%;
  }

  .btn{
    width:80%;
    margin:0 auto;
  }

  .table-bordered{
    text-align:center;
  }
  .mypage_btn{
    display:none;
  }

  .col-xs-12{
    margin: 0 10px;
  }

  .new_post{
    text-align:center;
  }

  h2{
    text-align:center;
  }

  h3{
    text-align:center;
  }

  .icon_container{
    display:inline-block;
    position:fixed;
    z-index:10;
    bottom:0;
    right:0;
    width:100%;
    height:80px;
    list-style:none;
    background:#555;
    line-height:80px;
  }

  .icon_container ul{
    text-align:center;
  }

  .icon_container li{
    display:inline-block;
    margin: auto 20px;
  }

  .icon_container .far{
    color:#fff;
    font-size:30px;
  }

    .icon_container .fas{
    color:#fff;
    font-size:30px;
  }


}