<td><%= attachment_image_tag notification.visetor, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: "no_image.jpg",class:"profile_image" %></td>
<div><%= notification_form(notification).html_safe %></div>