<div class="container">
	<%= link_to "Back",user_path(current_user.id),class: "btn btn-primary btn-xs" %>
	<div class="row">
		<div class="col-xs-12">
			<div class="notification_title">
				<h2>通知一覧</h2>
			</div>
			<% if @notifications.exists? %>
			    <%= render @notifications %>
			    <div class="notification_pagenate">
				    <%= will_paginate @notifications, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
				</div>
			<% else %>
			    <p class="not_notification">通知はありません</p>
			<% end %>
		</div>
	</div>
</div>